<%= form_with(model: payment, local: true) do |f| %>
 
  <% if payment.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
        <% payment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-6">
    <%= f.label :category, class: label_class %>
    <div class="mt-1">
      <%= f.select :category, @categories, { include_blank: "Select a category" }, class: input_class %>
    </div>
  </div>

  <div class="mb-6">
    <%= f.label :name, class: label_class %>
    <div class="mt-1">
      <%= f.text_field :name, autofocus: true, placeholder: "payment name", class: input_class %>
    </div>
  </div>

  <div class="mb-6">
    <%= f.label :amount, class: label_class %>
    <div class="mt-1">
      <%= f.number_field :amount, placeholder: "amount", class: input_class %>
    </div>
  </div>


  
  <div>
    <%= f.submit "Add", class: save_button_class %>
  </div>
<% end %>