<div id="<%= dom_id payment %>">
 <% @payments.each_with_index do |payment,index| %>
    <%= link_to payment_path(payment), class: "card flex min-w-full" do %> 
      <div class="card flex p-2 border-2 w-full rounded-lg">
        <div class="card-details w-full p-2 flex flex-col justify-between">
          <div class="top flex flex-row justify-between mx-4 font-semibold text-gray-500">
            <div class="tag"></div>
            <div class="date"></div>
        </div>

        <div class="middle p-1 w-full flex justify-between mx-2">
          <p class="excerpt tag text-2xl text-gray-500">
            <%= payment.name %>
          </p>
          <p class="excerpt px-1 tag text-2xl font-semibold text-darkGray">
            <%= payment.amount %>
          </p>
        </div>
        <div class="bottom w-full flex justify-between mx-2 text-gray-400">
          <div class="date px-1"><%= payment.created_at %></div>
          <div class="readmore px-2 text-sky-600">Show Details</div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>