<%= form_with(model: category) do |f| %>
  <% if category.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
        <% category.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-6">
    <%= f.label :name, class: label_class %>
    <div class="mt-1">
      <%= f.text_field :name, autofocus: true, placeholder: "category name", class: input_class %>
    </div>
  </div>

  <div class="mb-6">
    <%= f.label :icon, class: label_class %>
    <div class="mt-1">
      <%= f.text_field :icon, placeholder: "image url", class: input_class %>
    </div>
  </div>

  <div>
    <%= f.submit "Add", class: save_button_class %>
  </div>
<% end %>