<!DOCTYPE html>
 <html class="h-full">
  <head>
    <title>MyBudget</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <% if user_signed_in? %>
    <body class="h-full bg-white" data-controller="toggle">
  <%else%>
    <body class="h-full bg-lightBlue" data-controller="toggle">
  <%end%>

    <div class="min-h-full">
      <% if user_signed_in? %>
        <%= render partial: "partials/navbar" %>
      <%end %>
      <% if content_for?(:page_title) %>
        <header class="bg-white shadow">
          <div class="mx-auto max-w-7xl py-6 px-4 sm:px-6 lg:px-8">
            <h1 class="text-3xl font-bold tracking-tight text-gray-900">
              <%= yield(:page_title) %>
            </h1>
          </div>
        </header>
      <% end %>
      <main>
        <div class="mx-6 max-w-auto py-6 sm:mx-15 md:mx-10 lg:mx-15 sm:px-6 lg:px-8">
            <p class="notice"><%= notice %></p>
            <p class="alert"><%= alert %></p>

            <%= yield %>
        </div>
      </main>
    </div>

 
  </body>
</html>